* {
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
}

body {
    background-image: url("../afbeeldingen/achtergrond_website.jpg");
    background-size: cover;
}

.center {
    align-items: center;
    justify-items: center;
}

.grid {
    display: grid;
}

.layout {
    grid-template-areas:
    "header header"
    "sidebar main"
    "footer footer";
    grid-template-columns: 200px 1fr;
    grid-template-rows: 120px 1fr 100px;
    grid-gap: 20px;
    min-height: 100vh;
    padding: 20px;
}

.header {
    grid-area: header;
    grid-gap: 20px;
    grid-template-areas:
    "logo nav";
    grid-template-columns: 200px 1fr;
}

.logo {
    background-image: url("../../documentatie/afbeeldingen/men_at_work_logo.png");
    background-repeat: no-repeat;
    background-size: contain;
    grid-area: logo;
}

.nav {
    background: red;
    grid-area: nav;
    grid-template-columns: repeat(5, 1fr);
}

.nav-item {
    background: #a6a6a6;
    height: 100%;
    text-decoration: none;
    width: 100%;
}

.nav-item:hover {
    background: #999999;
}

.nav-item > span {
    color: black;
    font-size: 30px;
}

.sidebar {
    background: orange;
    grid-area: sidebar;
}

.main {
    background: #f2f2f2;
    grid-area: main;
}

.indexTekst{
    padding-top: 20px;
    padding-left: 20px;
    font-size: 20px;
}

.footer {
    background: green;
    grid-area: footer;
}

.login-wrapper {
    height: 100vh;
    position: absolute;
    width: 100%;
}





