* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-image: url("../afbeeldingen/achtergrond_website.jpg");
    background-size: contain;
}

.grid {
    display: grid;
}

.layout {
    grid-template-areas:
    "header header"
    "sidebar main"
    "footer footer";
    grid-template-columns: 200px 1fr;
    grid-template-rows: 120px 1fr 100px;
    grid-gap: 20px;
    min-height: 100vh;
    padding: 20px;
}

.header {
    grid-area: header;
    grid-gap: 20px;
    grid-template-areas:
    "logo nav";
    grid-template-columns: 200px 1fr;
}

.logo {
    background-image: url("../../documentatie/men_at_work_logo.png");
    background-repeat: no-repeat;
    background-size: contain;
    grid-area: logo;
}

.nav {
    background: red;
    grid-area: nav;
}

.sidebar {
    background: orange;
    grid-area: sidebar;
}

.main {
    background: yellow;
    grid-area: main;
}

.footer {
    background: green;
    grid-area: footer;
}





